name: (CI) Specs

on:
  push

env:
  RACK_ENV: test

jobs:
  specs:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        spec_type: [system, job]
    steps:
      - name: Checking-out ref
        uses: actions/checkout@v3
      - name: Setting-up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Runing specs
        run: bundle exec rspec --tag type:${{ matrix.spec_type }}
