name: (CI) Specs

on:
  push

env:
  APP_ENV: test

jobs:
  specs:
    name: ${{ matrix.spec_type }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        spec_type: [job, notification, system]
    steps:
      - name: Checking-out ref
        uses: actions/checkout@v3
      - name: Setting-up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Runing specs
        run: bundle exec rspec --tag type:${{ matrix.spec_type }}
