name: (Cleanup) Old S3 Builds

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      older_than:
        required: true
        type: number
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_REGION:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      SENTRY_DSN:
        required: true

env:
  APP_ENV: production
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_S3_BUILD_BUCKET_NAME: ${{ vars.AWS_S3_BUILD_BUCKET_NAME }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  C_S3_BUILDS_OLDER_THAN: ${{ inputs.older_than }}
  SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
  WORKFLOW_ENVIRONMENT: ${{ inputs.environment }}

jobs:
  old_s3_builds:
    environment:
      name: ${{ inputs.environment }}
    name: ${{ inputs.older_than }} days
    runs-on: ubuntu-20.04
    steps:
      - name: Checking-out remote scripts
        uses: actions/checkout@v3
        with:
          repository: oshopgiri/ops_bot
          ref: main
          path: ./
      - name: Setting-up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Cleaning up S3 builds older than ${{ inputs.older_than }} days
        run: ruby ./bin/cleanup/old_s3_builds.rb
